name: Build and Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0" # Running at midnight every Sunday

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      ############### Testing Checkout and that all ASPs build
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Deps
        run: |
          cd ${{ github.workspace }}
          tools/install_deps.sh

      - name: Test Build
        run: |
          cd ${{ github.workspace }}
          make test
